[submodule "benchmarking/fil-hello-world-actor"]
	path = benchmarking/fil-hello-world-actor
	url = https://github.com/raulk/fil-hello-world-actor.git
[submodule "benchmarking/go-fvm-sdk"]
	path = benchmarking/go-fvm-sdk
	url = https://github.com/ipfs-force-community/go-fvm-sdk.git
