[submodule "benchmarking/fil-hello-world-actor"]
	path = benchmarking/fil-hello-world-actor
	url = git@github.com:raulk/fil-hello-world-actor.git
[submodule "benchmarking/go-fvm-sdk"]
	path = benchmarking/go-fvm-sdk
	url = git@github.com:ipfs-force-community/go-fvm-sdk.git
